<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>param</key>
	<dict>
		<key>fireBall</key>
		<dict>
			<key>damage</key>
			<integer>23</integer>
		</dict>
		<key>bossFireBall</key>
		<dict>
			<key>damage</key>
			<integer>40</integer>
		</dict>
	</dict>
	<key>spriteSequence</key>
	<dict>
		<key>displayARConfig</key>
		<dict>
			<key>name</key>
			<string>deviceMove</string>
			<key>centerPosition</key>
			<true/>
		</dict>
	</dict>
	<key>dialogs</key>
	<dict>
		<key>gameIntroduction</key>
		<array>
			<dict>
				<key>//PREPARATION</key>
				<true/>
				<key>blackScreen</key>
				<true/>
				<key>autoTapAfter</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>line</key>
				<dict>
					<key>EN</key>
					<string>Once upon a time, there was one Granny named “Hillary” who loved traveling so much...</string>
					<key>JA</key>
					<string>この先のある時代、「フミナ」と言う、冒険好きな おばさんが おったそうな...</string>
				</dict>
				<key>canSkip</key>
				<true/>
			</dict>
			<dict>
				<key>line</key>
				<dict>
					<key>EN</key>
					<string>Once upon a time, there was one Granny named “Hillary” who loved traveling so much...</string>
					<key>JA</key>
					<string>この先のある時代、「フミナ」と言う、冒険好きな おばさんが おったそうな...</string>
				</dict>
				<key>canSkip</key>
				<true/>
			</dict>
		</array>
		<key>bossFailSequence</key>
		<array>
			<dict>
				<key>//</key>
				<string>Scene pauses, closes up to boss as it will stay at that position, exploding its computer crown. And crown will explode while screen whites out.</string>
				<key>pauseSession</key>
				<true/>
				<key>nodeAnim</key>
				<array>
					<dict>
						<key>//</key>
						<string>setup crown explosion position</string>
						<key>delay</key>
						<string>0.0</string>
						<key>node</key>
						<string>appearanceAnchor</string>
						<key>position</key>
						<string>gemPos</string>
						<key>opacity</key>
						<string>0.0</string>
						<key>scale</key>
						<string>0.0</string>
						<key>sfx</key>
						<string>lastShout</string>
					</dict>
					<dict>
						<key>//</key>
						<string>setup crown explosion position for light</string>
						<key>delay</key>
						<string>0.2</string>
						<key>node</key>
						<string>shineSun-vfx</string>
						<key>opacity</key>
						<string>1.0</string>
						<key>screenFlash</key>
						<true/>
						<key>scale</key>
						<string>1.0</string>
						<key>sfx</key>
						<string>bossFinalExplosion</string>
					</dict>
					<dict>
						<key>//</key>
						<string>base shakes from this moment</string>
						<key>delay</key>
						<string>0.1</string>
						<key>node</key>
						<string>pov</string>
						<key>shake</key>
						<string>0.01</string>
					</dict>
					<dict>
						<key>//</key>
						<string>base shakes from this moment</string>
						<key>delay</key>
						<string>0.1</string>
						<key>node</key>
						<string>bossCam-1-3</string>
						<key>shake</key>
						<string>0.005</string>
					</dict>
					<dict>
						<key>//</key>
						<string>camera fades into a better angle</string>
						<key>delay</key>
						<string>1.0</string>
						<key>fadeToCam</key>
						<string>bossCam-1-3|0.2</string>
					</dict>
					<dict>
						<key>//</key>
						<string>boss pauses at that moment</string>
						<key>delay</key>
						<string>0.1</string>
						<key>node</key>
						<string>boss</string>
						<key>overrideAnim</key>
						<string>paused</string>
						<key>fadeAudio</key>
						<string>0.2</string>
					</dict>
					<dict>
						<key>//</key>
						<string>first explosion p1</string>
						<key>delay</key>
						<string>1.5</string>
						<key>node</key>
						<string>appearanceAnchor</string>
						<key>opacity</key>
						<string>0.2</string>
						<key>duration</key>
						<string>3.0</string>
						<key>scale</key>
						<string>4</string>
					</dict>
					<dict>
						<key>//</key>
						<string>headband explodes at this point</string>
						<key>delay</key>
						<string>2.3</string>
						<key>node</key>
						<string>splashLight_vfx</string>
						<key>opacity</key>
						<string>0.5</string>
						<key>duration</key>
						<string>5.0</string>
					</dict>
					<dict>
						<key>//</key>
						<string>last explosion</string>
						<key>delay</key>
						<string>4.9</string>
						<key>node</key>
						<string>appearanceAnchor</string>
						<key>opacity</key>
						<string>1.0</string>
						<key>duration</key>
						<string>0.4</string>
						<key>scale</key>
						<string>15</string>
					</dict>
					<dict>
						<key>//</key>
						<string>screen goes white</string>
						<key>delay</key>
						<string>5.2</string>
						<key>whiteOut</key>
						<string>1.0</string>
						<key>duration</key>
						<string>0.2</string>
					</dict>
					<dict>
						<key>//</key>
						<string>camera stop shaking</string>
						<key>delay</key>
						<string>5.5</string>
						<key>node</key>
						<string>pov</string>
						<key>removeAllShake</key>
						<string>0.0</string>
					</dict>
					<dict>
						<key>//</key>
						<string>Show game over menu</string>
						<key>callNext</key>
						<true/>
						<key>delay</key>
						<string>7.0</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>//</key>
				<string>Boss will stay at that position, exploding its computer crown. And crown will explode while screen whites out.</string>
				<key>successGame</key>
				<true/>
			</dict>
		</array>
		<key>bossIntro</key>
		<array>
			<dict>
				<key>//</key>
				<string>This is where, Hillary appears for the first time. Hillary introduces herself for the first time to player, she will disappear and first battle begins.</string>
				<key>camera</key>
				<string>bossCam-1-4</string>
				<key>bossAnim</key>
				<dict/>
				<key>autoTapAfter</key>
				<string>1.0</string>
			</dict>
			<dict>
				<key>fadeIn</key>
				<string>0.0</string>
				<key>panTo</key>
				<string>bossCam-1-5</string>
				<key>panToDuration</key>
				<string>4.0</string>
				<key>autoTapAfter</key>
				<string>3.0</string>
			</dict>
			<dict>
				<key>fadeIn</key>
				<string>0.0</string>
				<key>panTo</key>
				<string>bossCam-1-3</string>
				<key>panToDuration</key>
				<string>2.0</string>
				<key>autoTapAfter</key>
				<string>2.0</string>
			</dict>
			<dict>
				<key>line</key>
				<string>HA HA HA HA HA!</string>
			</dict>
			<dict>
				<key>line</key>
				<string>My name is Hillary, a computer virus!</string>
			</dict>
			<dict>
				<key>line</key>
				<string>But unlike the other virus,
I can invade the entire internet!</string>
			</dict>
			<dict>
				<key>line</key>
				<string>That means...
I can invade the entire World!</string>
			</dict>
			<dict>
				<key>line</key>
				<string>MWA HA HA HA HA!</string>
				<key>fadeIn</key>
				<string>0.0</string>
				<key>panTo</key>
				<string>bossCam-1-5</string>
				<key>panToDuration</key>
				<string>4.0</string>
				<key>autoTapAfter</key>
				<string>2.8</string>
			</dict>
			<dict>
				<key>disappearObject</key>
				<string>Stage_MultiPlayer_13</string>
			</dict>
		</array>
	</dict>
	<key>bgmAtStage</key>
	<dict>
		<key>0</key>
		<string>titleTheme</string>
		<key>1</key>
		<string>mysteriousWorld</string>
		<key>2</key>
		<string>mysteriousWorld</string>
		<key>3</key>
		<string>mistyForest</string>
		<key>4</key>
		<string>mistyForest</string>
		<key>5</key>
		<string>mistyForest</string>
		<key>6</key>
		<string>mistyForest</string>
		<key>7</key>
		<string>mistyForest</string>
		<key>8</key>
		<string>mistyForest</string>
		<key>9</key>
		<string>firstDungeon</string>
		<key>10</key>
		<string>firstDungeon</string>
		<key>11</key>
		<string>firstDungeon</string>
		<key>12</key>
		<string>firstDungeon</string>
		<key>13</key>
		<string>challengingStage</string>
		<key>14</key>
		<string>challengingStage</string>
		<key>15</key>
		<string>challengingStage</string>
		<key>16</key>
		<string>challengingStage</string>
	</dict>
	<key>gameStage</key>
	<dict>
		<key>Stage_MultiPlayer_9</key>
		<dict>
			<key>isBoss</key>
			<true/>
			<key>gcIdentifier</key>
			<string>grannyinvader.firstboss</string>
			<key>bossPosition</key>
			<string>fmnBoss-Pos1b</string>
			<key>bossFileName</key>
			<string>FUMINA</string>
			<key>rendering</key>
			<array>
				<dict>
					<key>node</key>
					<string>bs-finalSmoke</string>
					<key>addParticle</key>
					<string>damagedSmoke</string>
					<key>particleBirthRate</key>
					<string>30</string>
				</dict>
			</array>
			<key>attackSequence</key>
			<array>
				<dict>
					<key>spriteAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>target</string>
							<key>positionLock</key>
							<string>Fumina-dSpot</string>
						</dict>
					</array>
					<key>action</key>
					<array>
						<string>wait|1.0</string>
						<string>move|0.7</string>
						<string>wait|2.0</string>
						<string>back|0.5</string>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<array>
						<string>wait|0.5</string>
						<string>move|0.3</string>
						<string>wait|0.5</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<array>
						<string>wait|1.0</string>
						<string>move|0.2</string>
						<string>wait|0.1</string>
						<string>back|0.2</string>
						<string>wait|1.0</string>
						<string>move|0.2</string>
						<string>back|0.2</string>
						<string>wait|0.5</string>
						<string>move|0.2</string>
						<string>wait|0.4</string>
						<string>back|0.2</string>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<array>
						<string>wait|0.5</string>
						<string>move|0.4</string>
						<string>attack|0</string>
						<string>wait|0.5</string>
						<string>back|0.4</string>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<array>
						<string>wait|0.5</string>
						<string>move|0.3</string>
						<string>wait|0.1</string>
						<string>attack|0</string>
						<string>wait|0.3</string>
						<string>attack|0</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateCC|0.6</string>
					<key>action</key>
					<array>
						<string>move|0.3</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateC|0.5</string>
					<key>action</key>
					<array>
						<string>move|0.2</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>back|0.2</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateCC|0.4</string>
					<key>action</key>
					<array>
						<string>move|0.3</string>
						<string>attack|1</string>
						<string>wait|0.3</string>
						<string>attack|1</string>
						<string>wait|0.3</string>
						<string>attack|1</string>
						<string>wait|0.3</string>
						<string>attack|1</string>
						<string>wait|0.4</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>missionComplete</key>
					<string>bossFailSequence</string>
				</dict>
			</array>
		</dict>
		<key>Stage_MultiPlayer_27</key>
		<dict>
			<key>isBoss</key>
			<true/>
			<key>gcIdentifier</key>
			<string>grannyinvader.lastboss</string>
			<key>lastBoss</key>
			<true/>
			<key>bossPosition</key>
			<string>fmnBoss-Pos0</string>
			<key>bossFileName</key>
			<string>FUMINA-MegaForm</string>
			<key>rendering</key>
			<array>
				<dict>
					<key>node</key>
					<string>bs-finalSmoke</string>
					<key>addParticle</key>
					<string>damagedSmoke</string>
					<key>particleBirthRate</key>
					<string>30</string>
				</dict>
			</array>
			<key>attackSequence</key>
			<array>
				<dict>
					<key>spriteAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>target</string>
							<key>positionLock</key>
							<string>Fumina-dSpot</string>
						</dict>
					</array>
					<key>action</key>
					<array>
						<string>wait|1.0</string>
						<string>move|0.7</string>
						<string>wait|2.0</string>
						<string>back|0.5</string>
					</array>
				</dict>
				<dict>
					<key>spriteAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>target</string>
							<key>delete</key>
							<true/>
						</dict>
					</array>
					<key>minorAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-0</string>
							<key>preDelay</key>
							<string>0.0</string>
							<key>seq</key>
							<string>move:0.5|wait:2.0|atk:0.0|wait:2.0|back:0.5</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-1</string>
							<key>preDelay</key>
							<string>1.25</string>
							<key>seq</key>
							<string>move:0.5|wait:2.0|atk:0.0|wait:2.0|back:0.5</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-2</string>
							<key>preDelay</key>
							<string>2.5</string>
							<key>seq</key>
							<string>move:0.5|wait:2.0|atk:0.0|wait:2.0|back:0.5</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-3</string>
							<key>preDelay</key>
							<string>3.75</string>
							<key>seq</key>
							<string>move:0.5|wait:2.0|atk:0.0|wait:2.0|back:0.5</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>action</key>
					<array>
						<string>wait|0.8</string>
						<string>move|0.7</string>
						<string>wait|1.5</string>
						<string>attack|0</string>
						<string>back|0.5</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>move|3.0</string>
					<key>minorAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-0</string>
							<key>preDelay</key>
							<string>0.0</string>
							<key>seq</key>
							<string>move:0.6|wait:1.0|atk:0.0|wait:1.0|back:0.6</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-1</string>
							<key>preDelay</key>
							<string>0.8</string>
							<key>seq</key>
							<string>move:0.6|wait:1.0|atk:0.0|wait:1.0|back:0.6</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-2</string>
							<key>preDelay</key>
							<string>2.5</string>
							<key>seq</key>
							<string>move:0.6|wait:1.0|atk:0.0|wait:1.0|back:0.6</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-3</string>
							<key>preDelay</key>
							<string>3.75</string>
							<key>seq</key>
							<string>move:0.6|wait:1.0|atk:0.0|wait:1.0|back:0.6</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateC|0.5</string>
					<key>action</key>
					<array>
						<string>move|0.4</string>
						<string>wait|0.8</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>wait|0.8</string>
						<string>back|0.4</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateC|1.0</string>
					<key>minorAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-0</string>
							<key>preDelay</key>
							<string>0.0</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-1</string>
							<key>preDelay</key>
							<string>0.4</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-2</string>
							<key>preDelay</key>
							<string>0.8</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-3</string>
							<key>preDelay</key>
							<string>1.2</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateCC|0.3</string>
					<key>action</key>
					<array>
						<string>move|0.4</string>
						<string>wait|0.8</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>wait|0.8</string>
						<string>back|0.4</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateCC|0.15</string>
					<key>action</key>
					<array>
						<string>move|0.15</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>back|0.4</string>
						<string>move|0.4</string>
						<string>wait|0.3</string>
						<string>back|0.4</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>move|3.0</string>
					<key>minorAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-0</string>
							<key>preDelay</key>
							<string>0.0</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-1</string>
							<key>preDelay</key>
							<string>0.3</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-2</string>
							<key>preDelay</key>
							<string>1.25</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-3</string>
							<key>preDelay</key>
							<string>1.875</string>
							<key>seq</key>
							<string>move:0.3|wait:0.5|atk:0.0|wait:0.5|back:0.3</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>move|3.0</string>
					<key>minorAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-0</string>
							<key>preDelay</key>
							<string>0.0</string>
							<key>seq</key>
							<string>move:0.2|wait:0.2|atk:0.0|wait:0.2|back:0.2</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-1</string>
							<key>preDelay</key>
							<string>0.2</string>
							<key>seq</key>
							<string>move:0.2|wait:0.2|atk:0.0|wait:0.2|back:0.2</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-2</string>
							<key>preDelay</key>
							<string>0.4</string>
							<key>seq</key>
							<string>move:0.2|wait:0.2|atk:0.0|wait:0.2|back:0.2</string>
						</dict>
						<dict>
							<key>name</key>
							<string>FuminaOW-bs1-3</string>
							<key>preDelay</key>
							<string>0.6</string>
							<key>seq</key>
							<string>move:0.2|wait:0.2|atk:0.0|wait:0.2|back:0.2</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>move|2.3</string>
					<key>action</key>
					<array>
						<string>wait|0.3</string>
						<string>move|0.3</string>
						<string>attack|1</string>
						<string>wait|0.8</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>wait|0.8</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>wait|0.8</string>
						<string>attack|1</string>
						<string>wait|0.5</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>baseAction_</key>
					<string>move|1.2</string>
					<key>bossDefaultAnim</key>
					<integer>3</integer>
					<key>fadeToAudio</key>
					<string>lastSpurt|0.5</string>
					<key>setPhase</key>
					<string>structPhase-2</string>
					<key>action</key>
					<array>
						<string>wait|0.5</string>
						<string>move|0.3</string>
						<string>wait|0.7</string>
						<string>back|0.3</string>
					</array>
					<key>nodeAction</key>
					<dict>
						<key>node</key>
						<string>bs-finalSmoke</string>
						<key>sfx</key>
						<string>bs-finalSmoke</string>
						<key>delay</key>
						<string>0.5</string>
						<key>opacity</key>
						<string>0.7</string>
						<key>duration</key>
						<string>0.3</string>
						<key>particleBirthRate</key>
						<string>10</string>
					</dict>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>move|0.6</string>
					<key>action</key>
					<array>
						<string>wait|0.3</string>
						<string>move|0.3</string>
						<string>wait|0.7</string>
						<string>attack|1</string>
						<string>wait|0.2</string>
						<string>attack|1</string>
						<string>wait|0.2</string>
						<string>attack|1</string>
						<string>wait|0.2</string>
						<string>attack|1</string>
						<string>wait|0.2</string>
						<string>attack|1</string>
						<string>wait|0.2</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateCC|0.5</string>
					<key>action</key>
					<array>
						<string>wait|0.8</string>
						<string>move|0.3</string>
						<string>wait|0.2</string>
						<string>back|0.3</string>
						<string>wait|0.8</string>
						<string>move|0.2</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>wait|0.1</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>baseAction</key>
					<string>rotateC|0.3</string>
					<key>action</key>
					<array>
						<string>wait|0.8</string>
						<string>move|0.3</string>
						<string>wait|0.1</string>
						<string>back|0.3</string>
						<string>wait|0.8</string>
						<string>move|0.2</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>attack|1</string>
						<string>wait|0.1</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>missionComplete</key>
					<string>bossFailSequence</string>
				</dict>
			</array>
			<key>attackSequence-TEST</key>
			<array>
				<dict>
					<key>spriteAction</key>
					<array>
						<dict>
							<key>name</key>
							<string>target</string>
							<key>positionLock</key>
							<string>Fumina-dSpot</string>
						</dict>
					</array>
					<key>action</key>
					<array>
						<string>wait|1.0</string>
						<string>move|0.7</string>
						<string>wait|2.0</string>
						<string>back|0.5</string>
					</array>
				</dict>
				<dict>
					<key>//</key>
					<string>Boss Blows Fire from mouth</string>
					<key>action</key>
					<array>
						<string>wait|1.0</string>
						<string>move|0.7</string>
						<string>wait|2.0</string>
						<string>bossMove|1</string>
						<string>wait|0.5</string>
						<string>back|0.5</string>
					</array>
				</dict>
				<dict>
					<key>baseAction_</key>
					<string>move|1.2</string>
					<key>bossDefaultAnim</key>
					<integer>3</integer>
					<key>fadeToAudio</key>
					<string>lastSpurt|0.5</string>
					<key>setPhase</key>
					<string>structPhase-2</string>
					<key>nodeAction</key>
					<dict>
						<key>node</key>
						<string>bs-finalSmoke</string>
						<key>sfx</key>
						<string>bs-finalSmoke</string>
						<key>delay</key>
						<string>0.5</string>
						<key>opacity</key>
						<string>0.7</string>
						<key>duration</key>
						<string>0.3</string>
						<key>particleBirthRate</key>
						<string>10</string>
					</dict>
					<key>action</key>
					<array>
						<string>wait|0.5</string>
						<string>move|0.3</string>
						<string>wait|0.5</string>
						<string>back|0.3</string>
					</array>
				</dict>
				<dict>
					<key>missionComplete</key>
					<string>bossFailSequence</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>audio</key>
	<dict>
		<key>menuTheme</key>
		<string>gameMenuBGM-1/gameMenuBGM-2</string>
		<key>gameTheme</key>
		<string>Granny-a/Granny-b</string>
		<key>titleTheme</key>
		<string>FirstGame-A/FirstGame-B</string>
		<key>challengingStage</key>
		<string>bossBattleT1-a/bossBattleT1-b</string>
		<key>firstDungeon</key>
		<string>firstDungeon-a/firstDungeon-b</string>
		<key>mistyForest</key>
		<string>mistyForest-a/mistyForest-b</string>
		<key>instructionTheme</key>
		<string>slowInstruction-A/slowInstruction-B</string>
		<key>mysteriousWorld</key>
		<string>mysteriousWorld-0/mysteriousWorld-1</string>
		<key>bossBattle</key>
		<string>lBoss-a/lBoss-b</string>
		<key>bossBattle2</key>
		<string>BBattleHigh-1/BBattleHigh-2</string>
		<key>defeatBoss</key>
		<string>LBDefeated-A/LBDefeated-B</string>
		<key>defeat</key>
		<string>success1/success2</string>
		<key>lastSpurt</key>
		<string>battleLastSpurt-a/battleLastSpurt-b</string>
		<key>space</key>
		<string>ambientSpace0/ambientSpace1</string>
	</dict>
	<key>sfx</key>
	<dict/>
</dict>
</plist>
